.jumbotron {
    height: 300;
    clear: "both";
    padding-Top: 120;
    text-Align: "center";
    color: white;
    text-shadow: 5px 2px black;
    background-image: url("./Beginning-in-1928-news-bulletins-flashed-on-an-electric-zipper-in-Times-Square-The-New-York-Times-Photo-Archives3.jpg");
    background-size: cover;
    font-size: 100px;
}

